* {
  margin: 0px;
  box-sizing: border-box;
  padding: 0px;
}
ul,
ol {
  list-style: none;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
a {
  text-decoration: none;
}
nav {
  background: #e1eec3; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #f05053,
    #e1eec3
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #f05053,
    #e1eec3
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  text-align: center;
  padding: 10px;
}

nav ul li {
  display: inline-block;
}
nav ul li a{
    color: white;
    padding: 30px;
    display: block;
    margin: 0px 10px;
}
nav ul li:hover a{
    background-color: rgba(255,255,255, 0.2);;
}
nav ul li .submenu{
   position: absolute;
   background-color: white;
   border: 1px solid #aaa;
  transition: 1s;
  opacity: 0;
  visibility: hidden;
  margin-top: 50px;
}
nav ul li .submenu li{
    display: block;
    border-bottom: 1px solid  #aaa;
}
nav ul li .submenu li a{
    color: black;
transition: 0.25s;
background-color: #b6cb85;
}
nav ul li:hover .submenu{
    opacity: 1;
    visibility: visible;
   margin-top: 0;
}
nav ul li .submenu:hover a{
    margin-left: 26px;
}